#clockContainer
{
    position: relative;
    margin: auto;
    height: 40vw;
width: 40vw;
background: url(clock.png) no-repeat;
background-size: 100%;
}

#hour , #minute , #second
{
    position:absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour
{
width: 1%;
height: 12%;
top: 16%;
left: 49.55%;
opacity: 0.8;
}
#minute
{
    width: 0.5%;
    height: 18%;
    top: 11%;
    left: 49.8%;
    opacity: 0.8;    
}
#second
{
    width: .3%;
    height: 21%;
    top: 8%;
    left: 49.8%;
    opacity: 1;
}